.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: #55b3f3;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: #2a90e0; /* darker shade on hover */
}


.logo-img {
  height: 50px;
  width: auto;
  display: block;
}

button {
  color: #55b3f3;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

button:hover {
  color: #2a90e0;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #55b3f3;
  cursor: pointer;
}

/* Desktop */
.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a,
  .language-switcher button {
    padding: 0.5rem 0;
    font-size: 1.1rem;
  }
}
